/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/*general style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lato', sans-serif;
}


/*Header*/

header{
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

h1, h2, h3{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; 
    
}


header a {
    text-decoration: none;
    color: inherit; 
}

#logo{
    font-size: 150%;
    margin: 0 0.5rem;
}

p{
    color: #000;
    font-size: 14px;
}


/*Nav bar*/

nav{
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000;
    display: none;
    top: 100%;
}

#nav-bar{
    font-size: 125%;
    letter-spacing: 4px;
    list-style-type: none;
}

#nav-bar > li{
    margin-bottom: 1em;
}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

.active-nav{
    border-bottom: 1px solid #000;
}


/*main content*/

main{
    
    flex: 1 0 auto;
    margin-top: 42px;
}

/*hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.png") no-repeat center center/cover;
    position: relative;   
}

#hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#hero-text{
    z-index: 2;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}

#hero-text > h2{
    margin-bottom: 1rem;
    color: #fff; 
    font-size: 180%;
}

#hero-text > h3 {
    padding: 0 0.5rem;
    margin-bottom: 2rem;
    color: #fff; 
}

.hero-button{
    text-decoration: none;
    padding: 15px 30px;
    background-color:#8FAF69;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    }

    /*Intro Section*/
   #introduction{
    padding:20px ;
    text-align: center;
   } 

   #introduction h2 {
    color: #8FAF69;
    margin-bottom: 15px;
   }
   .intro-text p{
    
    line-height: 1.6;
    margin: 10px;
    
   }

   /*Service Section*/

   #services {
    text-align: center;
    padding: 20px;
   }

   .service{
    margin-bottom: 25px;
   }

   .service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
   }

   .service h3 {
    margin-bottom: 10px;
   }

   

   .service-button {
    text-decoration: none;
    padding: 15px 30px;
    background-color:#8FAF69;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
   }

   /*testimonial section*/
   #testimonials{
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
   }

   #testimonials h2 {
    color: #8FAF69;
    margin-bottom: 15px;
   }

   .testimonial{
    border: 1px solid #8FAF69;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
   }

   .testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    
   }

   .testimonial p{
    font-style: italic;
    color: #000;
   }
   .testimonial h3 {
    margin-top: 10px;
    color: #8FAF69;
    font-weight: normal;
   }

   /*Newsletter Section*/

   #newsletter{
    background-color: #fff;
    padding: 20px;
    text-align: center;
   }
   #newsletter h2{
    color: #8FAF69;
    margin-bottom: 15px;
   }
   #newsletter p{
    margin-bottom: 20px;
   }

   #newsletter form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }

   #newsletter input[type="email"]{
    width: 80%;
    padding: 10px;
    border: 1px solid #8FAF69;
    border-radius: 5px;
   }

   #newsletter button {
    text-decoration: none;
    padding: 10px 20px;
    background-color:#8FAF69;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #8FAF69;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
   }

   #success-message {
    color: #8FAF69;
    margin-top: 20px;
   }

   /*Section Page*/

   /*Video Section*/

   #video-section{
    text-align: center;
    padding: 20px;
   }

   #video-section h2{
    color: #8FAF69;
    margin-bottom: 15px;
   }

   #video-section video{
    max-width: 100%;
    height: auto;
   }

   /*Image and Text Block Section*/

   #image-text-block{
    display: block;
    text-align: center;
    padding: 20px;
   }

   #image-text-block img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
   }

   #text-content {
    margin-bottom: 20px;
   }

   #text-content h3{
    margin-bottom: 10px;
   }

   #text-content p{
    line-height: 1.6;
   }

   
   
   .download-service-btn{
    padding: 10px 20px;
    background-color: #8FAF69;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    display: inline-block;
    margin-top: 15px;
   }

    /*Image Text Block Section 2*/
   .image-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
   }

   .image-text-block img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
   }

   .image-text-block .text-content {
    width: 100%;
   }

   /*Gallery Page*/

   #photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    }

    #photos img{
        width: 100%;
        display: block;
       }

   .photo-name {
    flex: 0 0 30%;
    max-width: 30%;
   text-align: center;
   }

   .photo-name h3{
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 100%;
   }
  
   /*Contact Page*/

   /*Contact Form*/
   #contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   }

   .contact-form, .contact-info{
    margin: 10px;
    padding: 20px;
    border: 1px solid #8FAF69;
    background-color: #f9f9f9;
    border-radius: 5px;
   }

   .contact-form h2, .contact-info h2 {
    color: #8FAF69;
   }

   .contact-form form{
    display: flex;
    flex-direction: column;
   }

   .contact-form label {
    margin-top: 10px;
   }

   .contact-form input, .contact-form textarea {
    padding: 8px;
    margin-top: 5px;
   }

   .contact-form button {
    text-decoration: none;
    padding: 10px 20px;
    background-color:#8FAF69;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #8FAF69;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
   }
   

/*footer*/

#social-icons{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
}

#social-icons i{
    font-size: 160%;
    padding: 5%;
    color: #000;
}



/*media screen sizes for tablets 769px*/
@media screen and (min-width:769px) {

    /*header*/
    header{
        flex-direction: column;
        align-items: center;
    }

    #logo{
        font-size: 200%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    nav{
        display: block;
        position: relative;
        box-shadow: none;
        order: 1;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
    }

    #nav-bar{
        display: flex;
        padding: 0;
        
    }

    #nav-bar >li {
        padding: 0 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

    /*main*/
    main{
        margin-top: 113px;
    }

    /*Intro Section*/
    #introduction{
        padding: 35px;
    }
    #introduction h2{
        font-size: 180%;
    }
    .intro-text p{
        font-size: 20px;
    }

    /*Service Section*/
    #services{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .service{
        width: 32%;  
        
    }
    .service h3{
        font-size: 150%;
    }
    .service p{
        font-size: 20px;
    }

    .service-button{
        margin: auto;
        font-size: large;
        padding: 20px 40px;
        margin-top: 30px;
    }

    /*testimonial Section*/
    #testimonials{
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #testimonials h2{
        font-size: 180%;
    }

    .testimonial-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .testimonial{
        width: 45%;
        margin-bottom: 20px;
    }

    .testimonial img {
        width: 100px;
        height: 100px;
    }

    /*Newsletter Section*/
    #newsletter h2{
        font-size: 180%;
    }

    #newsletter form{
        flex-direction: row;
        width: 50%;
        margin: auto;
    }

    #newsletter input[type="email"]{
        width: 70%;
    }

    #newsletter button{
        width: 30%;
    }

     /*Video Section*/
     #video-section{
        padding: 35px;
     }

     #video-section h2{
        font-size: 180%;
     }

     /*Image Text Block Section*/

     #image-text-block {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 20px;
        padding: 35px;
     }

     #image-text-block img {
        width: 50%;
     }
     #tex-content{
        width: 50%;
     }

     /*Image Text Block Section*/
     #image-text-block-2 {
        flex-direction: row-reverse;
        text-align: left;
        gap: 20px;
        padding: 35px;
     }
     #image-text-block-2 img {
        width: 50%;
     }
     
     .image-text-block {
        flex-direction: row;
     }


     

     
    
}

/*media screen size for laptop > 992px */

@media screen and (min-width: 992px) {
    /*navbar*/
    #nav-bar a:hover{
        border-bottom: 1px solid #8FAF69;
        color:#8FAF69;
    }

    /*Hero Section*/

    .hero-button:hover{
        background-color: #fff;
        color: #8FAF69;
    }

    #introduction{
        padding: 60px;
    }

    /*Service Section*/

    .service-button:hover{
        background-color: #fff;
        color: #8FAF69;
        border: 2px solid #8FAF69;
    }

    /*newsletter section*/
    #newsletter button:hover {
        background-color: #fff;
        color: #8FAF69;
        border: 2px solid #8FAF69;
    }
    /*Image Text Block Section*/
    #image-text-block{
        margin: 10px 60px;
        padding: 0 60px;
    }

    #image-text-block img {
        width: 40%;
     }
     #tex-content{
        width: 60%;
     }

     .download-service-btn:hover {
        background-color: #fff;
        color: #8FAF69;
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        border: 2px solid #8FAF69;
     }

     /*Image Text Block Section 2*/

     #image-text-block-2{
        margin: 10px 60px;
        padding: 0 60px;
    }
    #image-text-block-2 img{
        width: 40%;
    }


}