/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/*general style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lato', sans-serif;
}


/*Header*/

header{
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

header a {
    text-decoration: none;
    color: inherit; 
}

#logo{
    font-size: 150%;
    margin: 0 0.5rem;
}



/*Nav bar*/

nav{
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000;
    display: none;
    top: 100%;
}

#nav-bar{
    font-size: 125%;
    letter-spacing: 4px;
    list-style-type: none;
}

#nav-bar > li{
    margin-bottom: 1em;
}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

.active-nav{
    border-bottom: 1px solid #000;
}


/*main content*/

main{
    background-color: brown;
    flex: 1 0 auto;
    margin-top: 42px;
}


/*footer*/

footer{
    background-color: green;
}


/*media screen sizes for tablets 769px*/
@media screen and (min-width:769px) {

    /*header*/
    #logo{
        font-size: 200%;

    }

    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: 0 1rem;
    }

    #nav-bar{
        display: flex;
    }

    #nav-bar >li {
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

    /*main*/
    main{
        margin-top: 55px;
    }
    
}

/*media screen size for laptop > 992px */

@media screen and (min-width: 992px) {
    #nav-bar a:hover{
        border-bottom: 1px solid #000;

    }
}